* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    height: calc(100vh - 20px);
    width: calc(100vw - 20px);
    font-family: sans;
    margin: 10px;
}

button, select {
    border-radius: 5px;
    background-color: #eee;
    border: 1px solid #ddd;
    cursor: pointer;
}

ul {
	list-style-type: none;
}

ul li {
	margin-left: 10px;
}

table {
	border-collapse: collapse;
}

table td, table th {
  border: 1px solid #ddd;
  padding-left: 5px;
  padding-right: 5px;
}

table tr:first-child th {
  border-top: 0;
}

table tr td:first-child, table tr th:first-child {
  border-left: 0;
}

table tr td:last-child, table tr th:last-child {
  border-right: 0;
}

.sizer {
    z-index: -500;
    opacity: 0;
}

#text-sizer {
    position: fixed;
    top: -500px;
    font-family: monospace;
}

#editor-sizer {
    grid-column-start: 4;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 13;
}

#error-editor-sizer {
    grid-column-start: 4;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 12;
}

#debugger-sizer {
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 8;
}

#ir-debugger-sizer {
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 8;
    grid-row-end: 13;
}

#error-debugger-sizer {
    grid-column-start: 2;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 13;
}

#root {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

#app {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 13;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

#tab-overview {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 13;
    border-right: 1px solid #ddd;
}

.tab-link, .file-link {
    color: grey;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    user-select: none;
}

.tab-link:hover {
    color: black;
}

.tab-link[active] {
    color: black;
    cursor: default;
}

.file-link:hover {
	color: black;
}

.file-link[active] {
	color: black;
	cursor: default;
}

.file-link[name-error] {
    font-style: italic;
}

.text-editor, .text-viewer {
    display: grid;
    column-gap: 0px;
    row-gap: 0px;
    grid-template-columns: max-content 1fr 16px;
    grid-template-rows: 1fr 16px;
    border: 1px solid #ddd;
    font-family: monospace;
    overflow: hidden;
    user-select: none;
}

.line-number-column {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
    margin-right: 2px;
}

.bottom-left-corner {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    z-index: 20;
    background-color:rgba(255, 255, 255, 0.5);
}

.file-content {
    cursor: text;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: visible;
    position: relative;
    z-index: 0;
}

.hor-scrollbar {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: block;
    position: relative;
    height: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    z-index: 20;
}

.hor-scrollbar-thumb {
    position: absolute;
    display: block;
    background-color: grey;
    height: 16px;
    cursor: pointer;
}

.ver-scrollbar {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: block;
    position: relative;
    width: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    z-index: 20;
}

.ver-scrollbar-thumb {
    position: absolute;
    display: block;
    background-color: grey;
    width: 16px;
    cursor: pointer;
}

.bottom-right-corner {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    z-index: 20;
    background-color:rgba(255, 255, 255, 0.5);
}

span {
    position: relative;
    display: inline-block;
}

.line-number-column .line-number {
    width: max-content;
    background-color: white;
    color: rgb(102, 102, 102);
}

.file-content p {
    position: relative;
    width: max-content;
}

.file-content span#caret {
    position: relative;
    width: 0px;
    bottom: 0px;
    height: 100%;
}

.file-content span#caret[visible]::after {
    position: absolute;
    content: " ";
    background-color: red;
    height: 100%;
    width: 2px;
    left: -1px;
    z-index: 10;
}

.file-content span.selection {
    color: white;
    background-color: rgb(115, 139, 221);
    z-index: 9;
}

.file-content[error] span.selection {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 1px;
	text-decoration-style: wavy;
	text-underline-offset: 5px;
    color: black;
    background-color: #ffb5b5;
}

/* comment */
.file-content span[c="1"] {
	color: #9d9d9d;
}

/* literal */
.file-content span[c="2"] {
	color: #a31515;
}

/* special symbol */
.file-content span[c="3"] {
	color: #048800;
}

/* builtin types */
.file-content span[c="4"] {
	color: #ff8f00;
}

/* keyword */
.file-content span[c="5"] {
	color: #0000ff;
}

#editor-tab, #debugger-tab {
    grid-column-start: 2;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 13;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(12, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

button#new-file {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#editor-tab #file-overview {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 13;
    overflow: auto;
    border: 1px solid #ddd;
}

#editor-tab button#check-file {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#editor-tab div#file-is-valid {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    color: green;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
    border-radius: 5px;
    cursor: default;
}

#editor-tab button#save-file {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

#editor-tab button#delete-file {
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 2;
}

#editor-tab #editor {
    grid-column-start: 3;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 13;
}

#editor-tab #error-editor {
    grid-column-start: 3;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 12;
}

#editor-tab .error-message {
    grid-column-start: 3;
    grid-column-end: 12;
    grid-row-start: 12;
    grid-row-end: 13;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    border: 1px solid #ddd;
    color: red;
}

#debugger-tab .file-selector {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#debugger-tab #debugger {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 8;
}

#debugger-tab #debugger .file-content span#caret {
    position: relative;
    top: 5px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 5px;
}

#debugger-tab #ir-debugger {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 13;
}

#debugger-tab #ir-debugger .file-content span#caret {
    position: relative;
    top: 5px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 5px;
}

#debugger-tab #error-debugger {
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 12;
}

#debugger-tab .error-message {
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 12;
    grid-row-end: 13;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    border: 1px solid #ddd;
    color: red;
}

#debugger-tab button#run {
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
}

#debugger-tab button#step {
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
}

#debugger-tab button#next {
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
}

#debugger-tab button#step-over {
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
}

#debugger-tab button#step-in {
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 2;
}

#debugger-tab #console {
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 8;
    overflow: auto;
    border: 1px solid #ddd;
	padding: 10px;
}

#debugger-tab #console .runtime-error-message {
	color: red;
}

#debugger-tab #stack {
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 8;
    grid-row-end: 13;
    overflow: auto;
    border: 1px solid #ddd;
}


#debugger-tab #stack table {
	width: 100%;
}

